@import "base/variables";
@import "abstracts/mixins";


body {
    @include setup();
    @include setBackgroundImage(#333, "../slike/blur-clean.jpg", "no-repeat", "center center", "cover", "fixed");
}

main {
    @include flex-container();
    height: 100vh;
    
    div {
        @include border(3px, "solid", "white");
        @include set-flex-item(20%, center, 10vw, null, white);
        @include flex-container();
        height: 15vw;
        font-weight: bold;
        opacity: 0.5;
    }

    & div:nth-of-type(1) {
        background-color: $primaryColor;
        animation: drop 1.5s linear 0.5s both;
    }
    & div:nth-of-type(2) {
        background-color: $secondaryColor;
        animation: drop 1.5s linear 2s both;
    }
    & div:nth-of-type(3) {
        background-color: $tertiaryColor;
        animation: drop 1.5s linear 3.5s both;
    }
}


@keyframes drop {
    0% {
        transform: translate(0, -65vh);
    }
    100% {
        transform: translate(0, 0);
    }
}